<div class="container">
    <div class="form-container">
        <h2 class="login-title">Login</h2>
        <form class="form-fields-container" >
            <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input formControlName="email" matInput type="email" placeholder="abc@xyz.com" autocomplete='off'>
            </mat-form-field  >
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input formControlName="password" matInput type="password" autocomplete="off">
            </mat-form-field>
        </form>
        <div class="btn-container">
            <button mat-raised-button class="login-button">Login</button>
            <p>OR</p>
            <button routerLink="/create-account" mat-raised-button>Create an account</button>
        </div>
    </div>
</div>